*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  position: relative;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  border-bottom: 2px solid #e6e6e6;
}

.logo {
  font-weight: 500;
  font-size: 1.5em;
  color: #5770ff;
}

.menu-btn {
  border: 3px solid #e6e6e6;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn:hover {
  border-color: #5770ff;
}

.menu-btn:hover .line {
  background: #5770ff;
}

.line {
  background: #727272;
  height: 2px;
  width: 70%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 30px;
    border: 2px solid #cccccc;
    height: 60vh;
    width: 50%;
    position: absolute;
    right: -100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

.show {
  right: 0;
}

.menu-link {
  color: black;
  font-weight: 500;
  font-size: 1em;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.menu-link:hover {
  color: #5770ff;
}

.sign-in {
  border: none;
  outline: none;
  background: none;
  font-weight: 900;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.sign-in:hover {
  color: #5770ff;
}

main {
  position: relative;
}

.create-post {
  position: absolute;
  top: 80%;
  right: 10%;
  background: #5770ff;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-size: 2em;
}

.posts-section {
  padding: 20px 30px;
}

.section-title {
  font-weight: 500;
  font-size: 1.5em;
  color: black;
  margin-bottom: 1.5em;
}

.post-title {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.blogger-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.name {
  font-weight: 500;
}

.time-posted {
  color: #999999;
}

.post-text {
  line-height: 2;
  font-size: .85em;
  padding: 15px 0;
  font-weight: 500;
}
/*# sourceMappingURL=styles.css.map */