*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  word-spacing: 2px;
}

nav {
  position: relative;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
  border-bottom: 2px solid #e6e6e6;
}

.logo {
  font-weight: 700;
  font-size: 1.5em;
  color: #5770ff;
}

.menu-btn {
  border: 2px solid #e6e6e6;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn:hover {
  border-color: #5770ff;
}

.menu-btn:hover .line {
  background: #5770ff;
}

.line {
  background: #727272;
  height: 1px;
  width: 70%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 900px) {
  .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 50px 30px;
    border: 0 0 2px 2px solid #cccccc;
    height: 80vh;
    width: 70%;
    position: absolute;
    right: -100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 10;
    background: #eff0f5;
  }
}

.show {
  right: 0;
}

.menu-link {
  color: black;
  font-weight: 600;
  font-size: 1em;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.menu-link:hover {
  color: #5770ff;
}

.sign-in {
  border: none;
  outline: none;
  background: #5770ff;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.sign-in:hover {
  background: #6c82ff;
}

.post-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background: #dbe0ff;
  border-radius: 5px;
  max-width: 600px;
  width: 80%;
  padding: 15px 10px;
  z-index: 20;
}

.post-modal textarea {
  width: 98%;
  height: 300px;
  margin-bottom: 2em;
  outline: none;
  border: none;
  border-radius: 5px;
}

.post-modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.post-modal-btn {
  outline: none;
  border: none;
  background: #abb8ff;
  padding: 0.5em 2em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.post-modal-btn:hover {
  background: #ced4ff;
}

/* overlay */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: 0;
  background-color: #f2f2f2;
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 0.6;
}

main {
  position: relative;
}

.create-post {
  position: fixed;
  background: #5770ff;
  outline: none;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 8px 5px #e4e7fa;
          box-shadow: 0px 0px 8px 5px #e4e7fa;
  width: 40px;
  height: 40px;
  color: #ffffff;
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.create-post.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.posts-container {
  padding: 3rem 3rem 0;
}

#post-pop-up {
  padding: 1em;
  margin-top: 1rem;
}

.section-title {
  font-size: 2em;
  color: #5770ff;
  margin-bottom: 2rem;
}

.post {
  margin-bottom: 4rem;
}

.post-title {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 1.2em;
  color: black;
}

.blogger-info,
.commentor-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-img,
.commentor-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.name {
  font-weight: 600;
}

.time-posted {
  color: #999999;
}

.post-text,
.comment-text {
  line-height: 2;
  font-size: 0.85em;
  margin-top: 1.5em;
  font-weight: 500;
  color: #727272;
}

.like-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
  font-weight: 300;
  border-bottom: 1px solid #e6e6e6;
}

.like-share div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5770ff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.like-share div ion-icon {
  font-size: 1.2em;
  margin-right: 10px;
}

.like-share div:hover {
  color: #93a3ff;
}

#share {
  margin-left: 1rem;
}

.comments-section {
  padding: 3em 1.5em 0;
}

.comment {
  margin-bottom: 2rem;
}

.add-new-post {
  margin-bottom: 1em;
  font-weight: 600;
}

.comments-counter-container {
  font-weight: 600;
  margin-top: 3em;
}

.comments-title {
  margin-top: 0.5em;
}

.new-comment-text {
  width: 100%;
  border: 1px solid #e6e6e6;
  outline: 1px solid #e6e6e6;
  padding: 1em;
}

.new-comment-text:focus {
  outline: 1px solid #e6e6e6;
}

.new-comment-text::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.new-comment-text:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.new-comment-text::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.new-comment-text::placeholder {
  font-family: "Poppins", sans-serif;
}

.comments {
  padding-top: 1.5em;
}

@media screen and (max-width: 908px) {
  .create-post {
    top: 90%;
    right: 3%;
  }
}

@media screen and (min-width: 900px) {
  .menu-btn {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #e6e6e6;
    padding: 1.5rem 4rem;
  }
  .menu-nav {
    border-bottom: none;
    padding: 0;
  }
  .menu-items a {
    margin-right: 1.5em;
    background: #eff0f5;
    padding: 0.5em 2em;
    border-radius: 5px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .posts-container {
    width: 711px;
  }
  .create-post {
    top: 80%;
    right: 5%;
  }
}

@media screen and (min-width: 1100px) {
  nav {
    padding: 1.5rem 6rem;
  }
  .menu-items a {
    margin-right: 3.5em;
  }
  .create-post {
    top: 70%;
    right: 15%;
  }
}
/*# sourceMappingURL=styles.css.map */